<html>
   <body>
     <a href="/">Home</a>
      <form action = "http://localhost:5000/createEvent" method = "POST">
         <p>Event Name <input type = "text" name = "event_name" /></p>
         <p>Start utc <input type = "text" name = "event_start_utc" /></p>
         <p>End utc <input type ="text" name = "event_end_utc" /></p>
          <p>Currency  <input type ="text" name = "event_currency" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
        </form>
           <p>{{data}}</p>
   </body>
</html>